@import "tailwindcss";

:root {
  --text-default: #313335;
  --text-sub: #444444;
  --text-info: #777777;
  --text-disabled: #bababa;

  --main: #353b47;
  --main-press: #252a32;
  --warning: #ff6868;
  --disabled: #f6f6f6;
  --stroke: #ebebeb;
}

@layer utilities {
  /* 텍스트 색상 */
  .textDefault {
    color: var(--text-default);
  }
  .textSub {
    color: var(--text-sub);
  }
  .textInfo {
    color: var(--text-info);
  }
  .textDisabled {
    color: var(--text-disabled);
  }

  .text-main {
    color: var(--main);
  }
  .text-main-press {
    color: var(--main-press);
  }
  .text-warning {
    color: var(--warning);
  }
  .text-disabled-bg {
    color: var(--disabled);
  } /* 텍스트로 쓰는 disabled 색상 */
  .text-stroke {
    color: var(--stroke);
  }

  /* 배경색 */
  .bg-default {
    background-color: var(--text-default);
  }
  .bg-sub {
    background-color: var(--text-sub);
  }
  .bg-info {
    background-color: var(--text-info);
  }
  .bg-disabled {
    background-color: var(--text-disabled);
  }

  .bgMain {
    background-color: var(--main);
  }
  .bg-main-press {
    background-color: var(--main-press);
  }
  .bgWarning {
    background-color: var(--warning);
  }
  .bg-disabled-bg {
    background-color: var(--disabled);
  }
  .bg-stroke {
    background-color: var(--stroke);
  }

  /* 테두리 색상 */
  .border-default {
    border-color: var(--text-default);
  }
  .border-sub {
    border-color: var(--text-sub);
  }
  .border-info {
    border-color: var(--text-info);
  }
  .borderTextDisabled {
    border-color: var(--text-disabled);
  }

  .borderMain {
    border-color: var(--main);
  }
  .border-main-press {
    border-color: var(--main-press);
  }
  .border-warning {
    border-color: var(--warning);
  }
  .border-disabled-bg {
    border-color: var(--disabled);
  }
  .border-stroke {
    border-color: var(--stroke);
  }
}

/* Title */
.titleLg {
  font-family: "Pretendard", sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: -2px;
}

.titleMd {
  font-family: "Pretendard", sans-serif;
  font-size: 32px;
  font-weight: 800;
  line-height: 38.4px;
  letter-spacing: -1px;
}

.titleSm {
  font-family: "Pretendard", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  letter-spacing: -1px;
}

/* Text LG */
.textLg {
  font-family: "Pretendard", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 25.2px;
  letter-spacing: -1px;
}

.textLgSemibold {
  font-family: "Pretendard", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 25.2px;
  letter-spacing: -1px;
}

.textLgMedium {
  font-family: "Pretendard", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 25.2px;
  letter-spacing: -1px;
}

/* Text MD */
.textMd {
  font-family: "Pretendard", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 25.6px;
  letter-spacing: -1px;
}

.textMdBold {
  font-family: "Pretendard", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 25.6px;
  letter-spacing: -1px;
}

.textMdSemibold {
  font-family: "Pretendard", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 25.6px;
  letter-spacing: -1px;
}

/* Text SM */
.textSm {
  font-family: "Pretendard", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 22.4px;
  letter-spacing: -1px;
}

.textSmBold {
  font-family: "Pretendard", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 22.4px;
  letter-spacing: -1px;
}

.textSmSemibold {
  font-family: "Pretendard", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 22.4px;
  letter-spacing: -1px;
}

/* Caption */
.cap {
  font-family: "Pretendard", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16.8px;
  letter-spacing: -0.4px;
}

@font-face {
  font-family: "Pretendard";
  src: url("/src/shared/assets/fonts/Pretendard-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("/src/shared/assets/fonts/Pretendard-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("/src/shared/assets/fonts/Pretendard-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("/src/shared/assets/fonts/Pretendard-ExtraBold.woff2")
    format("woff2");
  font-weight: 800;
  font-style: normal;
}
